extends layout

block content
  h1= title
  
  div(class="container-fluid")
        div(class="row")
            -
                let table = [
                    {
                        "Brand": "brand1",
                        "quality": "high",
                        "cost": "150"                        
                    },
                    {
                        "Brand": "brand2",
                        "quality": "medium",
                        "cost": "100"
                    },
                    {
                        "Brand": "brand3",
                        "quality": "low",
                        "cost": "100"
                    },                   
                ]
            each tables in table 
                div(class="col-sm-2") #{tables.Brand}
                div(class="col-sm-2") #{tables.quality}
                div(class="col-sm-2") #{tables.cost}
  